{% extends "base.html" %}
{% load static %}

{% block body %}

<div class="clear" style="margin-top: 10px;"></div>

    <div>

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" style="margin-right: 5px;" href="{% url 'index' %}">HOME</a>
                    <a class="navbar-brand" style="margin-right: 20px;">|</a>
                    <a class="navbar-brand" style="margin-right: 20px;" href="{% url 'boletim' %}">BOLETIM</a>
                    <a class="navbar-brand" style="margin-right: 20px;" href="{% url 'historico' %}">HISTÓRICO</a>
                </div>
            </div>
        </nav>

    </div>
    <div class="=clear"></div>

    <div style="margin-left: 30px;">
        <h2>Matrícula: {{ matricula }}</h2>
        <div class="clear" style="margin-top: 10px;"></div>
        <h2>Disciplinas matriculadas:</h2>
        <div class="clear" style="margin-top: 10px;"></div>
        {% for boletim in boletimAluno %}
            <div style="margin-left: 20px;">
                <h3><p>{{ boletim.disciplina }}</p></h3>
                <h4><p>Professor: {{ boletim.disciplina.professor }}</p></h4>
            </div>
        {% endfor %}
    </div>

{% endblock %}
