{% extends "sistemaacademico/base.html" %}
{% load django_tables2 %}
{% load static %}

{% block body %}

<div class="clear" style="margin-top: 10px;"></div>

    <div>

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" style="margin-right: 5px;" href="{% url 'index' %}">HOME</a>
                    <a class="navbar-brand" style="margin-right: 20px;">|</a>
                </div>
                <ul class="nav navbar-nav">
                  <li><a class="navbar-brand" style="margin-right: 20px;" href="{% url 'aluno' %}">VOLTAR</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                </ul>
            </div>
        </nav>

        <div class="=clear"></div>

        <div style="margin-left: 30px;">
            <p><h2>Boletim:</h2></p>

            <div style="margin-top: 10px;">
                {% render_table table "django_tables2/bootstrap.html" %}
            </div>
        </div>

    </div>

{% endblock %}