<html>
<head>
    <title>Desempenho</title>
    <h2>Gráfico de desempenho</h2>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawStuff);

    function drawStuff() {

      var data = new google.visualization.DataTable();
      data.addColumn('string', 'disciplina');
      data.addColumn('number', 'Media_Notas');

      var disc = ""
      var i = 0

      {%for disiplina in disiplinas%}
        disc = '{{disiplina.nome}}'
        data.addRows([[disc, i]])
        i++
      {%endfor%}


      var options = {
        chart: {
          title: '',
          subtitle: ''
        },
        width: 900,
        height: 500,
        axes: {
          x: {
            0: {side: 'top'}
          }
        }
      };

      var chart = new google.charts.Bar(document.getElementById('line_top_x'));

      chart.draw(data, options);
    }
  </script>
</head>
<body>
  <div id="line_top_x"></div>
</body>
</html>